
# DATABASE

DATABASE_URL="postgresql+asyncpg://postgres:rezwan1122@localhost/food_delivery_db"



# REDIS

REDIS_URL=redis://localhost:6379


# SSL COMMERZ

SSLCOMMERZ_STORE_ID=wearl6aa5ea6d57417
SSLCOMMERZ_STORE_PASSWORD=wearl6aa5ea6d57417@ssl
SSLCOMMERZ_IS_SANDBOX=true
SSLCOMMERZ_VALIDATION_URL=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php
SSLCOMMERZ_SUCCESS_URL=http://127.0.0.1:8000/api/v1/payments/payments/success
SSLCOMMERZ_FAIL_URL=http://127.0.0.1:8000/api/v1/payments/payments/fail
SSLCOMMERZ_CANCEL_URL=http://127.0.0.1:8000/api/v1/payments/payments/cancel
SSLCOMMERZ_IPN_URL=http://127.0.0.1:8000/api/v1/payments/payments/ipn

# JWT

SECRET_KEY="XYZ21215264152454SR@-REZwan-2026+56565s8#"
ALGORITHM="HS256"


# SMTP SERVER

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

SMTP_USER=rezwanhere93@gmail.com
SMTP_PASSWORD=uarwczuczrihurpj
SMTP_FROM=rezwanhere93@gmail.com